*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    background-color: black;
}
.block_one{
    height: 77vh;
    width: 100vw;
    background-image: url(/Images/bg.jpg);
    background-size: cover;
    position: relative;
}
.outerbgc{
    position: absolute;
    top: 0;
    height: 77vh;
    width: 100vw;
    background-color: black;
    opacity: 0.6;
}
nav{
    height: 11vh;
    width: 60vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem; 
   
}
nav img{
    height: 9vh;
    width: 9vw;
    position: relative;
    z-index: 10;
}
nav button{
    padding: 0.4rem;
    font-size: 0.9rem;
    border: 1.5px solid white;
    cursor: pointer;
    color: white;
    border-radius: 0.5rem;
    position: relative;
    z-index: 10;
}
#fst{
background-color:black;
}
#snd{
    background-color: red;
}
.cntnt{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 66vh;
    width: 100vw;
    gap: 1.5rem;
    position: relative;
}
.cntnt> :nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
}
.cntnt> :nth-child(2){
    font-size: 1.5rem;
 
}
.cntnt> :nth-child(3){
    font-size: 1.3rem;
    
}
.cntnt-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.cntnt input{
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 0.8rem;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}
.gp{
    height: 1vh;
    width: 100vw;
    background-color: rgb(46, 45, 45);
}
.block_two{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    
}
.txt{
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}
.txt span:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    font-weight: bolder;
}
.txt span:last-child{
    font-size: 1.7rem;
    
}
.vdoinimg {
    position: relative;
}

.vdoinimg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.vdoinimg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}
/* .block_two{
    height: 53vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.txt{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.txt span:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    font-weight: bolder;
}
.txt span:last-child{
    font-size: 1.7rem;
    
}
.vdoinimg{
    height: 53vh;
    position: relative;
    width: 50%;
}
.vdoinimg img{
    height: 48vh;
    width: 80%;
    position: relative;
    left: 5%;
    top: 3%;
    z-index: 10;
}
.vdoinimg video{
    position: absolute;
    top: 17%;
    left: 14%;
    width: 60%;
} */
.block_three{
    height: 53vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vdoinimg2{
    height: 53vh;
    position: relative;
    width: 50%;
}
.vdoinimg2 .img2{
    height: 48vh;
    width: 80%;
    position: absolute;
    right: 0;
    top: 3%;
    z-index: 10;
}
.txt1{
    color: white;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 50%;
}
.txt1 span:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    font-weight: bolder;
}
.txt1 span:last-child{
    font-size: 1.7rem;
}
.faq{
    color: white;
    padding: 2.1rem;
}
.faq h2{
    text-align: center;
    font-size: 3rem;
}
.faq_sec{
    margin: 2rem auto;
   padding: 1.5rem;
   
    background-color: rgb(87, 86, 86);
    transition: all 1s ease-out;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
    transition: background-color 1s;
}
.faq_sec:hover{
    background-color: rgb(55, 55, 55);
}
.faqbox svg {
    filter: invert(1);
}
footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {
    html body{
        font-size: 66%
    };

    nav{
        max-width: 90vw;
    }

    .block_two, .block_one, .block_three {
        flex-wrap: wrap;
    }

    .vdoinimg img {
        width: 305px;
    }

    .vdoinimg video {
        width: 305px;
    }

    .cntnt-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}